/* HEADER */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #212529;
  overflow: hidden;
  position: sticky;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: darkcyan;
  color: black;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #04aa6d;
  color: white;
} */
.user-info {
  /* float: right;
  margin-top: 10px;
  margin-right: 5px;
  font-weight: bold;
  color: #ddd; */

  /* jnd */
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  /* display: contents;
  margin-right: 10px;
  float: right;
  color: #f2f2f2;*/
  /* text-align: center; */
  /*
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; */
}

.logout {
  margin-top: 8px;
  margin-right: 10px;
  padding: 6px;
  float: right;
  font-size: 17px;
  /* margin-right: 10px;
  margin-top: 3px; */
}
